:root{
    --blue1:#9ac1d1;
    --blue2:#79afc5;
    --green: #79c57e;
    --red:#cb6f6f;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.pusty{
    height: 12rem;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.blok{
    padding:2rem 9%;
}

.blokh{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(51, 156, 255, 0.05);
}

.blokh span{
    color:var(--blue2);
}

.btns{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btns:hover{
    background:var(--green);
}

.btnr{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btnr:hover{
    background: var(--red);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:rgb(56, 56, 56);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    font-weight: bolder;
}

header .logo span{
    color:var(--blue2);
}

header .nawigacja a{
    font-size: 2rem; 
    padding:0 1.5rem;
    color:rgb(233, 233, 233);
}

header .nawigacja a:hover{
    color:#74d8ff;

}

header .ikony a{
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
    margin-left: 1.5rem;
}
.ikony img{
    height: 2.7rem;
}





#główny{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("zdjęcia/niket.jpg");
    background-size: cover;
    background-position: center;
}

#główny .zawartosc{
    max-width: 50rem;
}

#główny .zawartosc h3{
    font-size: 6rem;
    color:#333;
}

#główny .zawartosc span{
    font-size: 3.5rem;
    color:var(--green);
    padding:1rem 0;
    line-height: 1.5;
}

#główny .zawartosc p{
    font-size: 1.5rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.5;
}

#informacje .r{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

#informacje .r .zdj-info{
    flex:1 1 40rem;
    position: relative;
}

#informacje .r .zdj-info img{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

#informacje .r .zdj-info h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:rgb(255, 255, 255);
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

#informacje .r .zawartosc{
    flex:1 1 40rem;
}

#informacje .r .zawartosc h3{
    font-size: 3rem;
    color:#333;
}

#informacje .r .zawartosc p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

#oferty{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#oferty .ikony{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

#oferty .ikony img{
    height:5rem;
    margin-right: 2rem;
}

#oferty .ikony h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

#oferty .ikony span{
    color:#555;
    font-size: 1.3rem;
}

#produkty .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

#produkty .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0, 0, 0, 0.1);
    position: relative;   
    background-color: #F6F6F6; 
}

#produkty .box-container .box .przecena{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:rgb(255, 0, 0);
    background:rgba(0, 0, 0, 0.182);
    z-index: 1;
    border-radius: .5rem;
}

#produkty .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

#produkty .box-container .box .image img{
    height:25rem;
}

#produkty .box-container .box:hover .image img{
    transform: scale(1.1);
}

#produkty .box-container .box .image .ikony{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

#produkty .box-container .box:hover .image .ikony{
    bottom:0;
}

#produkty .box-container .box .image .ikony a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--green);
    color:#fff;
}

#produkty .box-container .box .image .ikony .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

#produkty .box-container .box .image .ikony a:hover{
    background:#333;
}

#produkty .box-container .box .zawartosc{
    padding:2rem;
    text-align: center;
}

#produkty .box-container .box .zawartosc h3{
    font-size: 2.5rem;
    color:#333;
}

#produkty .box-container .box .zawartosc .cena{
    font-size: 2.5rem;
    color:var(--green);
    font-weight: bolder;
    padding-top: 1rem;
}

#produkty .box-container .box .zawartosc .cena span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

#oceny .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

#oceny .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

#oceny .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

#oceny .box-container .box .stars i{
    color:var(--green);
    font-size: 2rem;
}

#oceny .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

#oceny .box-container .box .użytkownik{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

#oceny .box-container .box .użytkownik img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

#oceny .box-container .box .użytkownik h3{
    font-size: 2rem;
    color:#333;
}

#oceny .box-container .box .użytkownik span{
    font-size: 1.5rem;
    color:#999;
}

#contact .r{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

#contact .r form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

#contact .r .image{
    flex:1 1 40rem;
}

#contact .r .image img{
    width: 100%;
}

#contact .r form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

#contact .r form .box:focus{
    border-color: var(--green);
}

#contact .r form textarea{
    height: 15rem;
    resize: none;
}
footer{
    background-color: #3E3E3E;
    border-top: 20px #343434 solid;
}
footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

footer .box-container .box{
    flex:1 1 25rem;
}

footer .box-container .box h3{
    color: white;
    font-size: 2.5rem;
    padding:1rem 0;
}

footer .box-container .box a{
    display: block;
    color: rgb(239, 239, 239);
    font-size: 1.5rem;
    padding:1rem 0;
}

footer .box-container .box a:hover{
    color:#8ccbe3;
    text-decoration: underline;
    font-weight: bold;
}

footer .box-container .box  img{
    margin-top: 1rem;
}

/* strzałki */

.strzałkal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3px;
    left: 2px;
    height: 30px;
    width: 50px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 30%;

    clip-path: polygon(40% 0%, 41% 30%, 100% 30%, 100% 70%, 40% 70%, 40% 100%, 0% 50%);
}
.strzałkag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 55px;
    right: 2px;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
}
.strzałkad{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3px;
    right: 2px;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
}
.strzałkag:hover, .strzałkad:hover, .strzałkal:hover {
    background-color: rgba(154,193,209,0.6);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.329);
}

#blokt{
    text-align: center;
    font-size: large;
    text-transform: capitalize;
    background-color: var(--blue1);
    margin-bottom: 4rem;
    margin-top: 5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.pudelko{
    height: 30rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.ball{
    background-color: var(--blue2);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: relative;
    top: 30rem;
    left: 10rem;
    animation: odbijanie 1s infinite;
}
.ball2{
    background-color:  var(--blue2);;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: relative;
    top: 30rem;
    left: 137rem;
    animation: odbijanie 1s infinite;
}

@keyframes odbijanie{
    10%{
        height: 5rem;
        width: 5rem;
    }
    30%{
        height: 5rem;
        width: 4rem;
    }
    50%{
        height: 3rem;
        width: 5.7rem;
        transform: translateY(24rem);
    }
    75%{
        height: 5rem;
        width: 5.7rem;
    }
    100%{
        transform: translateY(0rem);
    }
}

.cien{
    background-color: rgba(8,8,8,0.1);
    height: 1rem;
    width: 6.5rem;
    position: relative;
    border-radius: 50%;
    top: 54rem;
    left: 9.2rem;
    z-index: -1;
    animation: cień 1s infinite;
}
.cien2{
    background-color: rgba(8,8,8,0.1);
    height: 1rem;
    width: 6.5rem;
    position: relative;
    border-radius: 50%;
    top: 54rem;
    left: 136.2rem;
    z-index: -1;
    animation: cień 1s infinite;
}
@keyframes cień{
    50%{
        transform: scaleX(0.5);
    }
}


@media (max-width:1115px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    #główny{
        background-position: left;
    }
    .r .image{
        display: none;
    }
    .ball,.cien, .ball2, .cien2{
        display: none;
    }
}

@media (max-width:850px){

    header .fa-bars{
        display: block;
    }

    header {
        top:0; left:0; right:0;
        border-top: .1rem solid rgba(0,0,0,.1);

    }

    header #toggler:checked ~ .nawigacja{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .nawigacja a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: none;

    }

    #główny .zawartosc h3{
        font-size: 5rem;
    }

    #główny .zawartosc span{
        font-size: 2.5rem;
    }

    #oferty .ikony h3{
        font-size: 2rem;
    }
    
    #oferty .ikony span{
        font-size: 1.7rem;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}
